body {
    background-color: white;
    color: rgb(167, 202, 10);
}
h1 {
    background-color: rgb(231, 76, 19);
}
main {
    background-color: rgb(3, 3, 28);
    padding: 0px 25px 0px 25px;
}

footer {
    background-color: rgb(231, 76, 19);
}